<footer class="footer has-background-white">
    <div class="container">
        <div class="columns">
            <div class="column">
                <p>Contact</p>
                <p><a href="filupnot@gmail.com">filupnot@gmail.com</a></p>
            </div>
            <div class="column has-text-right">
                <p>Created with Node.js and Express. Designed with EJS and Bulma.</p>
                <p><a href="https://github.com/philipknott/my-website">View Github Repository</a></p>
            </div>
        </div>
    </div>
</footer>