<footer class="footer has-background-white">
    <div class="container">
        <div class="content is-size-7-mobile">
            <p>Created with Node.js and Express. Designed with EJS and Bulma. <a href="https://github.com/philipknott/my-website">View Github Repository</a></p>
            <p><a href="filupnot@gmail.com">filupnot@gmail.com</a></p>
        </div>
    </div>
</footer>