<footer class="footer has-background-white pt-5">
    <div class="container has-text-centered">
        <a href="https://www.linkedin.com/in/philip-knott/">
            <span class="icon is-large has-text-grey-light">
                <i class="fab fa-linkedin fa-2x"></i>
            </span>
        </a>
        <a href="https://github.com/philipknott">
            <span class="icon is-large has-text-grey-light">
                <i class="fab fa-github fa-2x"></i>
            </span>
        </a>
    </div>
    <br>
    <div class="container">
        <div class="content is-size-7-mobile">
            <p>Created with Node.js and Express. Designed with EJS and Bulma. <a
                    href="https://github.com/philipknott/my-website">View Github Repository</a></p>
            <p><a href="mailto: filupnot@gmail.com">filupnot@gmail.com</a></p>
        </div>
    </div>
</footer>