<nav class="navbar is-dark">
    <div class="container">
        <div class="navbar-brand">
            <a role="button" class="navbar-burger" data-target="navMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">About</a>
                <a class="navbar-item"
                    href="https://drive.google.com/file/d/1W2yMtw0dLD3O34SFaIPxvI_o26DTCKq5/view">Resume</a>
                <a class="navbar-item" href="/projects">Projects</a>
            </div>
        </div>
    </div>
</nav>