<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
        </div>
        <div class="navbar-menu is-active">
            <div class="navbar-start">
                <a class="navbar-item" href="/">About</a>
                <a class="navbar-item" href="https://drive.google.com/file/d/1Ds6VpSNclC4NlFQY-eRErQvZI3pDuUpW/view">Resume</a>
                <a class="navbar-item" href="/projects">Projects</a>
            </div>

            <div class="buttons navbar-item">
                <a class="button is-link" href="https://www.linkedin.com/in/philip-knott/">
                    <span class="icon">
                        <i class="fab fa-linkedin fa-lg"></i>
                    </span>
                    <span>LinkedIn</span>
                </a>
                <a class="button is-success" href="https://github.com/philipknott">
                    <span class="icon">
                        <i class="fab fa-github fa-lg"></i>
                    </span>
                    <span>Github</span>
                </a>
            </div>
        </div>
    </div>
</nav>