<!DOCTYPE html>
<html>

<head>
    <title>Philip Knott</title>
    <link rel="icon" href="/img/favicon.png" type='image/x-icon'>
    <%- include('./partials/header.ejs') %>
</head>

<body>
    <section class="hero is-dark is-fullheight has-background">

        <div class="hero-head">
            <%- include('./partials/nav.ejs') %>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">

                <figure class="image pb-6" style="width: 275px; margin: auto;">
                    <img class="headshot is-rounded" src="/img/headshot-alt.png">
                </figure>

                <h1 class="title is-1">
                    Philip Knott
                </h1>
                <p class="subtitle">
                    Full Time CS Student
                </p>
                <br>
                <p class="mt-5">
                    <a href="https://www.linkedin.com/in/philip-knott/">
                        <span class="icon is-large">
                            <i class="fab fa-linkedin fa-2x"></i>
                        </span>
                    </a>
                    <a href="https://github.com/philipknott">
                    	<span class="icon is-large">
                    	    <i class="fab fa-github fa-2x"></i>
                    	</span>
                    </a>
                    <a href="https://www.instagram.com/philip_knott/">
                        <span class="icon is-large">
                            <i class="fab fa-instagram fa-2x"></i>
                        </span>
                    </a>
                </p>
            </div>
        </div>
    </section>

    <section class="section lightblue">
        <div class="container has-text-white">
            <div class="content">
                <h1 class="has-text-white">
                    About Me
                </h1>
                <p>Hello! My name is Philip Knott, and I am an undergraduate student at the University of Colorado
                    Boulder studying Computer
                    Science. I have a strong interest in Web Development on both the frontend and backend,
                    and I
                    love learning new technologies.</p>
                <p>I grew up outside San Francisco in the Bay Area, where I have lived my entire life. </p>
                <p>In addition to academics, some of my interests include skiing, tennis, longboarding,
                    biking,
                    and
                    rock-climbing.</p>
                <p>Please hire me, I don't want to lifeguard anymore.</p>
            </div>
        </div>
    </section>

    <section class="section darkblue">
        <div class="container has-text-white">
            <div class="columns">
                <div class="column">
                    <div class="content">
                        <h1 class="has-text-white">
                            <span class="icon is-large">
                                <i class="fas fa-code"></i>
                            </span>
                            Skills
                        </h1>
                        <p><strong>Languages/Database:</strong> Javascript, C++, Python, Java, HTML, CSS, Bash/Zsh, PostgreSQL</p>
                        <p><strong>Frameworks/Technologies:</strong> Node.js, Express, Svelte, Bulma, Bootstrap</p>
                        <p><strong>Version Control/Tools:</strong> Git/Github, Visual Studio Code</p>
                        <p><strong>Software:</strong> Adobe Suite, Microsoft Office Suite, Atlassian/Jira</p>
                    </div>
                </div>
                <div class="column">
                    <div class="content">
                        <h1 class="has-text-white">
                            <span class="icon is-large">
                                <i class="fas fa-book"></i>
                            </span>
                            <span>Coursework</span>
                        </h1>
                        <p>
                            <strong>Programming and Data Structures</strong>
                            <span class="has-text-grey-light">CSCI 2275</span>
                        </p>
                        <p>
                            <strong>Computer Systems</strong>
                            <span class="has-text-grey-light">CSCI 2400</span>
                        </p>
                        <p>
                            <strong>Discrete Structures</strong>
                            <span class="has-text-grey-light">CSCI 2824</span>
                        </p>
                        <p>
                            <strong>Introduction to Data Science</strong>
                            <span class="has-text-grey-light">CSCI 3022</span>
                        </p>
                        <p>
                            <strong>Software Development Methods & Tools</strong>
                            <span class="has-text-grey-light">CSCI 3308</span>
                        </p>
                        <p>
                            <strong>General Physics 1-2</strong>
                            <span class="has-text-grey-light">PHYS 1110, 1120</span>
                        </p>
                        <p>
                            <strong>Calculus 1-2</strong>
                            <span class="has-text-grey-light">MATH 1300, 2300</span>
                        </p>
                    </div>
                </div>
                <div class="column">
                    <div class="content">
                        <h1 class="has-text-white">
                            <span class="icon is-large">
                                <i class="fas fa-school"></i>
                            </span>
                            <span>Academics</span>
                        </h1>
                        <p><strong>School:</strong> University of Colorado, Boulder</p>
                        <p><strong>Major:</strong> Computer Science</p>
                        <p><strong>Department:</strong> College of Engineering & Applied Science</p>
                        <p><strong>Grade:</strong> Junior (71 credits)</p>
                        <p><strong>Expected Graduation:</strong> Spring 2023</p>
                        <p><strong>Current GPA:</strong> 3.98</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <%- include('./partials/footer.ejs') %>
</body>

</html>