<!DOCTYPE html>
<html>

<head>
    <title>Projects</title>
    <link rel="icon" href="/img/favicon.png" type='image/x-icon'>
    <%- include('./partials/header.ejs') %>

    <style>
        .card {
            height: 100%;
        }
    </style>
</head>

<body>
    <section class="hero is-dark is-bold">
        <div class="hero-head">
            <%- include('./partials/navigation.ejs') %>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">Projects</h1>
                <p class="subtitle">A few completed projects I've worked on!</p>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image">
                                <img src="/img/charityhub.png">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <h1><a href="https://github.com/philipknott/charityhub/tree/master">CharityHub</a></h1>
                                <p>
                                    This website is a non-profit centralized database that provides a straight-forward
                                    and accessible way for common people to find charities catered to their interests or
                                    relevant to their situations. Team class project for CSCI 3308: Software Dev Methods
                                    & Tools.
                                </p>
                                <p class="has-text-grey-light">Fall 2020</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-one-third">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="/img/nonograms.png">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <h1>
                                    <a href="https://github.com/philipknott/nonogram-solver">Nonogram Solver</a>
                                </h1>
                                <p>A script that can solve any Nonogram puzzle on <a
                                        href="https://www.puzzle-nonograms.com">puzzle-nonograms.com</a>, with thorough
                                    documentation on how to use it on Github. Independent project.</p>
                                    <p class="has-text-grey-light">Summer 2020</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-one-third">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="/img/boulder.png">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <h1><a href="https://github.com/philipknott/cu-campus-nav">CU Campus Navigation</a></h1>
                                <p>A program that helps the user navigate through and find the optimal path between two
                                    points in CU Boulder's campus. Independent class project for CSCI 2275: Programming
                                    and Data Structures. </p>
                                    <p class="has-text-grey-light">Fall 2019</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('./partials/footer.ejs') %>
</body>

</html>