@import url("https://use.typekit.net/tou5qmy.css");

h1 {
    font-family: 'montserrat';
}

p {
    font-family: 'montserrat';
}

.navbar-item {
    font-family: 'montserrat';
}

.icon {
    vertical-align: middle;
}

.card {
    height: 100%;
    background-color: #123746;
    color: white;
}

.hero {
    background-size: cover;
    background-image: url("../public/img/ski.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: overlay;
}

strong {
    color: white;
}

.lightblue {
    background-color: #18475A;
}

.darkblue {
    background-color: #123746;
}

a {
    color: #6495ed;
}

a:hover {
    color: #4c71b6;
}

.headshot {
    width: 275px;
    margin: auto;
    max-width: 90%;
}